<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:4497/StudentService.svc"
                binding="wsHttpBinding"
                contract="SchoolLib.Contracts.IStudentService"
                name="webEP" />
    </client>
  </system.serviceModel>
  
</configuration>
